<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image" href="/favicon.png">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
<div id="container">
      <header>
        <a id="title" href="/">
          <div class="title-text">About</div>
          <div class="back">X</div>
        </a>
      </header>
      
      <hr>
      
      <div id="page-about">
        <div class="img-container">
          <img src="/media/">
        </div>
        
        <div class="caption">
          <hr class="page-divider">
          About your work, written in third person.
          <p>Projects, clients, and/or achievements in paragraph form.</p>
          <p>A line about your Alma mater and/or hobbies.</p>
          <p>Contact information.</p>
        </div>
      </div>
      
    </div>
  </body>
</html>