<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Title</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
<div id="container">
      <header>
      <input type="checkbox" id="description-toggle"/>
      <label for="description-toggle" onclick="this.classList.toggle('active');">
        <div id="title">
          <div class="title-text">Website Title</div>
          <div class="title-arrow">?</div>
        </div>
        </label>
        <div class="description">
          Description
          <br>
          <a href="/tutorial">Link.</a>
        </div>
      </header>
      
      <hr>
      
      <div id="gallery">
        <a href="/page/">
          <div class="item-image"><img src="/thumbnail/"></div>
          <div class="item-title">Title</div>
        </a>
      </div>
      
    </div>
  </body>
</html>