<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Title</title>
    <link rel="icon" type="image" href="/favicon.png">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
<div id="container">

      <header>
        <div id="title">
          <div class="title-text"><a href="/">↑ Back</a></div>
          <div class="title-nav"><a href="/page/">← Prev</a> · <a href="/page/">Next →</a></div>
        </div>
      </header>
      
      <hr>
      
      <div id="page">
        <div class="img-container">
          <img src="/media/">
        </div>
        
        <div class="caption">
          <hr class="page-divider">
          <b>Title</b>
          <br>
          Caption
        </div>
      </div>
      
    </div>
  </body>
</html>